{
    "token": "ABCDEFGHIJKLMNOPQRSTUVWXYZ.1234567890", // Bot token (required)
    "module_gateway": { // Config for gateway module
        "channel": "531580498263408671" // Text channel ID to send join and leave messages (required)
        "ban_patterns": [ // Case-insensitive regex patterns to automatically ban upon join (optional)
            "some_name\\d\\d"
        ],
        "join_message": "<@$ID> has arrived.", // Join message template (optional), variables: $ID, $NICKNAME, $USERNAME, $TAG
        "leave_message": "Goodbye, **$USERNAME**.", // Leave message template (optional), see above
        "nevermind_timeout": 180, // Duration in seconds to consider a member "recently joined" to send a response after leaving (default 0, disabled)
        "nevermind_messages": [ // List of messages to send when a member leaves shortly after joining (supports variables)
            "https://tenor.com/view/the-simpsons-bart-simpson-whoops-go-in-and-out-gif-15009786",
            "$USERNAME didn't last long..."
        ]
    },
    "module_mediaonly": {
        "channels": ["1234567890123456"],
        "reply": "Your message was removed from $CHANNEL as it did not contain any media.\n\n$QUOTE"
    }
}
